{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {"browser": true},
    "rules": {
        "func-names": 1,
        "new-cap": [2, {"newIsCapExceptions": ["fromJS"]}],
        "no-param-reassign": [2, { "props": false }],
        "no-unused-vars": [2, { "args": "none" }]
    }
}
